.article-card {
  width: 40rem;
  margin: 2.5rem 0;
}

.article-card:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.article-card-header {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(168, 168, 168);
}

.article-card-header > div {
  margin-left: 2rem;
  font-size: 1.7rem;
}

.article-card-profile-pic {
  width: 3.5rem;
  height: 3.5rem;
}

.article-card-profile-name-date {
  font-size: 0.9rem;
}

.article-card-username {
  margin-right: 1rem;
}
